:root {
  --square-side-desktop: 20vh;
  --square-side-mobile: 25vw;
  --border-setting: 5px solid black;
}

body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#game-board {
  display: flex;
  flex-flow: row wrap;
  width: calc(var(--square-side-desktop) * 3);
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.square {
  width: var(--square-side-desktop);
  height: var(--square-side-desktop);
  cursor: pointer;
  font-size: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25vw;
  max-height: 25vw;
}

@media screen and (max-width: 750px) {
  .square {
    width: var(--square-side-mobile);
    height: var(--square-side-mobile);
    font-size: 15vw;
    max-width: 25vh;
    max-height: 25vh;
  }
}

.left {
  border-right: var(--border-setting);
}

.right {
  border-left: var(--border-setting);
}

#row-1 {
  border-bottom: var(--border-setting);
}

#row-3 {
  border-top: var(--border-setting);
}
