:root {
  --square-side: 20vw;
  --border-setting: 5px solid black;
}

body {
  font-family: monospace;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-board {
  display: flex;
  flex-flow: row wrap;
  width: calc(var(--square-side) * 3);
}

.row {
  display: flex;
}

.square {
  min-width: var(--square-side);
  min-height: var(--square-side);
  width: 10vw;
  height: 10vw;
  cursor: pointer;
  font-size: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  border-right: var(--border-setting);
}

.right {
  border-left: var(--border-setting);
}

#row-1 {
  border-bottom: var(--border-setting);
}

#row-3 {
  border-top: var(--border-setting);
}
